<div class="container pt-5 pb-5">
  <app-label></app-label>
  <app-checkbox></app-checkbox>
  <app-radio></app-radio>
  <app-loader></app-loader>
  <app-button></app-button>
  <app-input-text></app-input-text>
  <app-input-textarea></app-input-textarea>
  <app-input-search></app-input-search>
  <app-datetime></app-datetime>
  <app-editor></app-editor>
  <app-switch></app-switch>
  <app-progress></app-progress>
  <app-stepper></app-stepper>
  <app-tabs></app-tabs>
  <app-breadcrumbs></app-breadcrumbs>
  <app-link></app-link>
  <app-alert></app-alert>
</div>
